[DEFAULT]
extends = "arcutils:local.base.cfg"

DISTRIBUTION = "psu.oit.arc.aol"

PROJECT.title = "Atlas of Oregon Lakes"
PROJECT.short_title = "AOL"

SITE_ID = 1

DATABASES.default.ENGINE = "django.contrib.gis.db.backends.postgis"
DATABASES.default.OPTIONS.options = "-c search_path=public"

; Auth
ALLOWED_LOGIN_GROUPS = ["resgrp116", "arc"]
AUTHENTICATION_BACKENDS = ["aol.users.backends.AOLCASModelBackend"]
SUPERUSERS = ["wbaldwin"]

INSTALLED_APPS = [
        "django.contrib.auth",
        "django.contrib.contenttypes",
        "django.contrib.flatpages",
        "django.contrib.sessions",
        "django.contrib.sites",
        "django.contrib.staticfiles",

        "arcutils",
        "bootstrapform",
        "django_pgcli",
	"raven.contrib.django.raven_compat",

        "{{PACKAGE}}.apps.MainAppConfig",
        "{{PACKAGE}}.users",
        "{{PACKAGE}}.lakes",
        "{{PACKAGE}}.documents",
        "{{PACKAGE}}.photos",
        "{{PACKAGE}}.facilities"
    ]

APPEND.MIDDLEWARE_CLASSES = [
        "django.contrib.flatpages.middleware.FlatpageFallbackMiddleware"
    ]

; Sentry dsn 
RAVEN_CONFIG.dsn = null 

LDAP.default.search_base = "ou=group,dc=pdx,dc=edu"

TILE_URL = "http://gis.rc.pdx.edu/arcgis/rest/services/aol/nlcd/MapServer/"
