[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packages.wdt.pdx.edu/simple"
verify_ssl = true
name = "wdt"

[packages]
pytz = "*"
dateparser = "~=1.1.0"
beautifulsoup4 = "~=4.10.0"
requests = "~=2.27.0"
Pillow = "~=9.0.0"
psycopg2 = "~=2.9.0"
pyshp = "~=2.2.0"
Shapely = "~=1.8.0"
uritemplate = "~=4.1.0"
"psu.oit.wdt.emcee" = {version = "~=1.1.0", extras = ["aws"], index = "wdt" }
django = "~=3.2.0"
djangorestframework = "~=3.13.0"
celery = "~=5.2.0"
uwsgi = "~=2.0.0"
django-filter = "~=21.0"
social-auth-core = "~=4.2.0"
social-auth-app-django = "~=5.0.0"
django-ckeditor = "~=6.2.0"
sentry-sdk = "~=1.5.0"
django-sendfile2 = "~=0.6.0"
django-robots = "~=5.0"

[dev-packages]
coverage = "*"
flake8 = "*"
model_mommy = "*"
django-cors-headers = "*"

[requires]
python_version = "3.9"
