{% extends "admin/base_site.html" %}

{% load static %}
{% load i18n %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}

{% block content %}
  <h1>Load data observation CSV</h1>
  <div id="content-main">
    <form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
      <fieldset class="module aligned">
        {% for field in form %}
          <div class="form-row">
            <div class="fieldBox">
              {% if field.is_checkbox %}
                {{ field }}{{ field.label_tag }}
              {% else %}
                {{ field.label_tag }}
                {% if field.is_readonly %}
                  <div class="readonly">{{ field.contents }}</div>
                {% else %}
                  {{ field }}
                {% endif %}
              {% endif %}
              {% if field.field.help_text %}
                <div class="help">{{ field.field.help_text|safe }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="{% trans "Load" %}" />
      </div>
    </form>
  </div>
{% endblock %}
