<!DOCTYPE html>

{% load staticfiles %}
{% load arc %}

<html>
    <head>
        <title>{% block title %}{% endblock %} - Atlas of Oregon Lakes</title>
        <link rel="icon" type="image/png" href="{% static 'img/aol_favicon.png' %}"/>
        {% block css %}
            <link href="{% cdn_url '/bootstrap/3.3.6/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block js %}
            <script src="{% cdn_url '/jquery/1.12.1/jquery-1.12.1.min.js' %}"></script>
            <script src="{% cdn_url '/bootstrap/3.3.6/js/bootstrap.min.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('.has-tooltip').tooltip();
                });
            </script>
        {% endblock %}
    </body>
</html>
